body {
  font-family: "Josefin Sans", "Google Sans", arial, sans-serif-medium,
    sans-serif;
  color: #3e6faa;
  background: no-repeat url("../images/neon_street.jpg");
  background-size: cover;
  background-color: #360062;
}
h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 26px;
  margin: 20px 10px 0 10px;
}

ul {
  padding: 0;
  margin: 0 0 10px;
}
li {
  color: #7f7f7f;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
}

li:first-letter {
  text-transform: capitalize;
}
a {
  color: #559fc2;
  text-decoration: none;
}

footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
}
/* url('../../images/image.png'); */
.container {
  height: 2000;
}

/* weather section styling*/
.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  max-width: 630px;
  border-radius: 20px;
  background: #fd8fe5de;

  /* background: no-repeat url("../images/landscape.svg");
  background-size: cover;
  width: 100%;
  position: relative;
  vertical-align: top; */
}

#weather-app {
  position: relative;
  border-radius: 20px;
  /* min-width: 427px;
  background-size: cover;
   background: no-repeat url("../images/landscape.svg") top; */
}
/* #weather-app > img {
  vertical-align: top;
  width: 100%; max width */
/* height: 0%; */
/* opacity: 0; } make it transparent */
/* #weather-app > div {
  top: 0;
  width: 100%;
  height: 100%;
} */
.units {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  margin-top: 6px;
  vertical-align: top;
}
.temperature {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  display: inline;
  vertical-align: top;
  line-height: 60px;
}
.weather-icon {
  display: inline-block;
  margin-top: 0;
  height: 60px;
}
.weather-stats {
  text-align: right;
}

.weather-temperature .active {
  color: #3e6faa;
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}

.weather-description {
  margin: 0 10px 10px 10px;
}

/* search bar section styling*/
.search_box {
  background: #00c4e7;
  position: relative;
  padding: 0px;
  border-radius: 50px;
  justify-content: space-between;
}

input {
  font-size: 50px;
}

.search_bar,
.search_bar:focus {
  color: #3b5f8b;
  background: #b2e0f5;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 3px 12px 3px 12px;
}

.search_bar:focus {
  outline: none !important;
  border: 3px solid white;
  box-shadow: none;
}

.search_btn {
  background: #b2e0f5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border-radius: 50px;
}

.search_icon {
  width: 50px;
  height: 50px;

  float: right;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  text-decoration: none;
}
